{{ 'product-presentation.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.6.3.js' | asset_url }}" defer="defer"></script>

<div class="presentation__wrapper">

  {% if section.settings.section-title != blank %}
      <h2 class="presentation__title">{{section.settings.section-title }} </h2>
  {% endif %}
  {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}

        {% if block.type == "collection" %}
        <div class="products-wrapper">

          {% for product in block.settings.collection.products %}
            <div class="product-wrap">
                {% render 'card-product',
                card_product: product,
                media_aspect_ratio: false,
                show_secondary_image: true,
                show_vendor: false,
                show_rating: false,
                show_quick_add: false,
                section_id: section.id
                %}
                {% if product.metafields.global.limit-save.value != blank %}
                  <form action="choose-option">
                    <div class="presentation__metadilds-wrapper presentation__metadilds-btns">
                      <div class="presentation__metadild presentation__metadild_white-save">
                        <label class="presentation__label " for="3month-{{product.id}}">{{ product.metafields.global.limit-save.value }}</label>
                      </div>
                      {% if product.metafields.global.just-once.value!= blank %}
                        <div class="presentation__metadild presentation__metadild_gray-save">
                          <label class="presentation__label lab-month-{{product.id}}" for="1month-{{product.id}}">{{ product.metafields.global.just-once.value }}</label>
                        </div>
                      {% endif %}
                    </div>

                    {% for item in product.variants %}
                      <div class="presentation__btns-add_wrap">
                            {% if item.title == '3month' %}
                                <button class="presentation__btn-add presentation__btn-3month rr" data-ajax-add="{{ item.id}}">Add to cart - {{item.price | money_with_currency }}</button>
                                <input type="radio" checked class="month3-label" id="3month-{{product.id}}" name="fav_language" value="HTML">
                            {% endif %}

                            {% if item.title == '1month' %}
                                <input type="radio" class="month1-label" id="1month-{{product.id}}" name="fav_language" value="CSS">
                                <button class=" presentation__btn-add presentation__btn-1month r" data-ajax-add="{{ item.id}}">Add to cart - {{item.price | money_with_currency }}</button>
                            {% endif %}
                      </div>
                    {% endfor %}

                    {% style %}
                        .month1-label:checked ~ .presentation__btn-1month{ 
                          visibility: visible;
                         }
                    {% endstyle %}
                
                  </form>
                {% else %}
                  <div class="presentation__metadilds-wrapper">
                    {% if product.metafields.global.just-once.value != blank %}
                        <div class="presentation__metadild presentation__metadild_gray">
                          {{ product.metafields.global.just-once.value }}
                        </div> 
                    {% endif %}
                    {% if product.metafields.global.save.value != blank %}
                      <div class="presentation__metadild presentation__metadild_pink">
                        {{ product.metafields.global.save.value }}
                      </div>   
                    {% endif %}
                   
                  </div>
                  <button class="presentation__btn-add " data-ajax-add="{{ product.selected_or_first_available_variant.id }}">Add to cart -
                    {{product.price | money_with_currency }}</button>
              {% endif %}
            </div>
      {% endfor %}
  {% endif %}

{% if block.type == "products" %}

<div class="products-wrapper">
  {% for i in (1..4) %}

  {% assign product_num = 'product' | append: i %}
  {% assign product = block.settings[product_num]%}

  {% if product != blank %}
  <div class="product-wrap">
    {% render 'card-product',
    card_product: product,
    media_aspect_ratio: false,
    show_secondary_image: true,
    show_vendor: false,
    show_rating: false,
    show_quick_add: false,
    section_id: section.id
    %}
    {% if product.metafields.global.limit-save.value != blank %}
      <form action="choose-option">
        <div class="presentation__metadilds-wrapper presentation__metadilds-btns">
          <div class="presentation__metadild presentation__metadild_white-save">
            <label class="presentation__label " for="3month-{{product.id}}">{{ product.metafields.global.limit-save.value }}</label>
          </div>
          {% if product.metafields.global.just-once.value!= blank %}
            <div class="presentation__metadild presentation__metadild_gray-save">
              <label class="presentation__label lab-month-{{product.id}}" for="1month-{{product.id}}">{{ product.metafields.global.just-once.value }}</label>
            </div>
          {% endif %}
        </div>

        {% for item in product.variants %}
          <div class="presentation__btns-add_wrap">
                {% if item.title == '3month' %}
                    <button class="presentation__btn-add presentation__btn-3month rr" data-ajax-add="{{ item.id}}">Add to cart - {{item.price | money_with_currency }}</button>
                    <input type="radio" checked class="month3-label" id="3month-{{product.id}}" name="fav_language" value="HTML">
                {% endif %}

                {% if item.title == '1month' %}
                    <input type="radio" class="month1-label" id="1month-{{product.id}}" name="fav_language" value="CSS">
                    <button class=" presentation__btn-add presentation__btn-1month r" data-ajax-add="{{ item.id}}">Add to cart - {{item.price | money_with_currency }}</button>
                {% endif %}
          </div>
        {% endfor %}

        {% style %}
            .month1-label:checked ~ .presentation__btn-1month{ 
              visibility: visible;
             }
        {% endstyle %}
    
      </form>
    {% else %}
      <div class="presentation__metadilds-wrapper">
        {% if product.metafields.global.just-once.value != blank %}
            <div class="presentation__metadild presentation__metadild_gray">
              {{ product.metafields.global.just-once.value }}
            </div> 
        {% endif %}
        {% if product.metafields.global.save.value != blank %}
          <div class="presentation__metadild presentation__metadild_pink">
            {{ product.metafields.global.save.value }}
          </div>   
        {% endif %}
       
      </div>
      <button class="presentation__btn-add " data-ajax-add="{{ product.selected_or_first_available_variant.id }}">Add to cart -
        {{product.price | money_with_currency }}</button>
  {% endif %}
</div>
  {% endif %}

 

  {% endfor %}
</div>
{% endif %}

{% endfor %}
{% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#shopify-section-{{section.id}}').on('click',  '[data-ajax-add]', function (e) {
      event.preventDefault();
        const itemId =  parseInt($(this).attr('data-ajax-add'));
        let isInCart = false;

        jQuery.getJSON('/cart.js', function(cart) {
          for(let i =0; i < cart.items.length; i++  ){
             if(itemId  === cart.items[i].id){
              isInCart = true;
               alert('you have this product in a cart');
             } 
          }
          if(isInCart === false){
            addProductToCart(itemId);
          }
        } );  
    });


    function addProductToCart(itemId){          
      $.ajax({
                  type: 'POST',
                  url: '/cart/add.js',
                  dataType: 'json',
                  data: {
                      quantity: 1,
                      id: itemId
                  },
                  success: function(data) {
                    console.log(data, "data")
                      $.ajax({
                          type: 'GET',
                          dataType: 'jsonp',
                          url: '/cart.json',
                          success: function(cart) {
                            console.log(cart, "cart")
                          }
                      }) 
                  }
      })
   }     
})
</script>

<style>
  section{
    background-color: #F5F5F5;
  }
</style>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Products presentation",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    },
    {
      "type": "text",
      "id": "section-title",
      "label": "Title",
      "default": "Featured Products"
    }
  ],
  "max_blocks": 1,
  "blocks": [ 
    {
      "type": "collection",
      "name": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "number_range",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Number of products",
          "default": 4
        }
      ]

    },
    {
      "type": "products",
      "name": "products",
      "settings": [
      {
        "type": "product",
        "id": "product1",
        "label": "Product"
      },
      {
        "type": "product",
        "id": "product2",
        "label": "Product"
      },
      {
        "type": "product",
        "id": "product3",
        "label": "Product"
      },{
        "type": "product",
        "id": "product4",
        "label": "Product"
      }
    ]
    }
  ],
  "presets": [
    {
      "name": "Products presentation"
    }
  ]
}
{% endschema %}
